In [1]:
import pandas as pd
import sqlite3

In [2]:
conn = sqlite3.connect("database.db")
cursor = conn.cursor();

In [3]:
cursor.execute("""
    CREATE TABLE Department (
        employee_name TEXT PRIMARY KEY,
        department TEXT
    );
               """)
cursor.execute("""
    CREATE TABLE Employee (
        employee_id INTEGER PRIMARY KEY,
        employee_name TEXT,
        FOREIGN KEY (employee_name) REFERENCES Department(employee_name)
    );
               """)
cursor.execute("""
    CREATE TABLE Female (
        employee_name TEXT PRIMARY KEY,
        FOREIGN KEY (employee_name) REFERENCES Employee(employee_name)
    );
               """)
cursor.execute("""
    CREATE TABLE Male (
        employee_name TEXT PRIMARY KEY,
        FOREIGN KEY (employee_name) REFERENCES Employee(employee_name)
    );
               """)
cursor.execute("""
    CREATE TABLE Project (
        project TEXT PRIMARY KEY
    );
               """)
cursor.execute("""
    CREATE TABLE Salary (
        employee_name TEXT PRIMARY KEY,
        salary INTEGER,
        FOREIGN KEY (employee_name) REFERENCES Employee(employee_name)
    );
               """)
cursor.execute("""
    CREATE TABLE Supervise (
        subordinate_name TEXT PRIMARY KEY,
        supervisor_name TEXT,
        FOREIGN KEY (supervisor_name) REFERENCES Employee(employee_name)
        FOREIGN KEY (subordinate_name) REFERENCES Employee(employee_name)
    );
               """)
cursor.execute("""
    CREATE TABLE Works_on (
        employee_name TEXT,
        project TEXT,
        effort INTEGER,
        PRIMARY KEY (employee_name, project),
        FOREIGN KEY (project) REFERENCES Project(project)
    );
               """)
conn.commit()

In [4]:
dep = pd.read_csv('./Relations/department.csv')
for index, row in dep.iterrows():
    cursor.execute(f"INSERT INTO Department VALUES ('{row.EMPLOYEE_NAME}', '{row.DEPARTMENT}');")

employ = pd.read_csv('./Relations/employee.csv')
for index, row in employ.iterrows():
    cursor.execute(f"INSERT INTO Employee VALUES ({row.EMPLOYEE_ID}, '{row.EMPLOYEE_NAME}');")

fem = pd.read_csv('./Relations/female.csv')
for index, row in fem.iterrows():
    cursor.execute(f"INSERT INTO Female VALUES ('{row.NAME}');")

male = pd.read_csv('./Relations/male.csv')
for index, row in male.iterrows():
    cursor.execute(f"INSERT INTO Male VALUES ('{row.NAME}');")

pro = pd.read_csv('./Relations/project.csv')
for index, row in pro.iterrows():
    cursor.execute(f"INSERT INTO Project VALUES ('{row.PROJECT}');")

sal = pd.read_csv('./Relations/salary.csv')
for index, row in sal.iterrows():
    cursor.execute(f"INSERT INTO Salary VALUES ('{row.EMPLOYEE_NAME}', {row.SALARY});")

sup = pd.read_csv('./Relations/supervise.csv')
for index, row in sup.iterrows():
    cursor.execute(f"INSERT INTO Supervise VALUES ('{row.SUBORDINATE}', '{row.SUPERVISOR}');")

works = pd.read_csv('./Relations/workson.csv')
for index, row in works.iterrows():
    cursor.execute(f"INSERT INTO Works_on VALUES ('{row.NAME}', '{row.PROJECT}', {row.EFFORT});")

In [5]:
conn.commit()
cursor.close()