In [16]:
import pandas as pd
import sqlite3
conn = sqlite3.connect("database.db")
cursor = conn.cursor()

In [ ]:
pd.read_sql_query("""SELECT 
                  """, conn)

In [17]:
pd.read_sql_query("""SELECT Department.employee_name 
                  FROM Department 
                  INNER JOIN Salary 
                  ON Department.employee_name=Salary.employee_name
                  WHERE department = 'research' 
                  AND salary > 40000;
                  """, conn)

  employee_name
0      franklin

In [18]:
pd.read_sql_query("""SELECT Employee.employee_name 
                  FROM Employee
                  LEFT JOIN Supervise 
                  ON Employee.employee_name = Supervise.subordinate_name
                  WHERE Supervise.subordinate_name IS NULL""", conn)

  employee_name
0         james

In [ ]:
pd.read_sql_query("""SELECT 
                  """, conn)

In [19]:
cursor.close()